# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\自学js\JAVASenior\netty-demo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/target/
*.class
*.jar
*.log
/logs/*
/target/*
.gitignore
.classpath
.settings*
.project
/.idea/*
